@model AquaparkWebApplication1.Models.Slide

@{
    ViewData["Title"] = "Видалення гірки";
}

<h1>Видалити локацію - гірка</h1>

<h3>Ви впевнені, що хочете видалити цю гірку?</h3>
<br />
<div>@ViewBag.ErrorString</div>
<br />
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideMinHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideMinHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideMaxHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideMaxHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideMaxWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideMaxWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideMaxPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideMaxPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideMinAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideMinAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideHighestPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideHighestPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlideName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlideName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlidePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlidePrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SlideId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до списку горок</a>
    </form>
</div>
