@model AquaparkWebApplication1.Models.Hall

@{
    ViewData["Title"] = "Видалення хола";
}

<h1>Видалити локацію - хол</h1>

<h3>Ви впевнені, що хочете видалити цей хол?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolsMaxDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolsMaxDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoolsMinDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoolsMinDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallMaxPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallMaxPeople)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HallPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HallPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HallId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до списку холів</a>
    </form>
</div>
