@model IEnumerable<AquaparkWebApplication1.Models.Pool>

@{
    ViewData["Title"] = "Басейни за номером хола";
}

<h1>Басейниу холі №@ViewBag.HallId</h1><br></br>
<p>
    @Html.ActionLink("Додати новий басейн", "Create", new {hallId=@ViewBag.HallId})
</p>
<br></br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoolMinHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hall)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PoolId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoolMinHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PoolId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.PoolId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.PoolId">Видалити</a>
            </td>
        </tr>
}
        <a asp-controller="Home" asp-action="Index">Головна сторінка</a>
        <br />
        <a asp-controller="Halls" asp-action="Index">Повернутись до списку холів</a>
    </tbody>
</table>
